doctype html
html
  head
    title= title
    script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      include partials/header
      include partials/nav
      .content 
        block content
      include partials/footer

    
