doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      .header sup
      .nav with
      .content it
      .footer vanilla face

    
