doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      include partials/header
      include partials/nav
      .content 
        block content
      include partials/footer

    
